@import "/styles/mixins";

.mobileNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  width: 100vw;
  height: 3.75rem;
  background-color: #121212;
  @include largeScreen() {
    display: none;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu {
    bottom: calc(-100vh + 3.75rem);
    left: (0 + -16.67rem);
    right: 0;
    .col3 {
      border-top: none;
    }
  }
}

.menu {
  position: absolute;
  display: grid;
  grid-template-rows: 4.44rem 1fr 4.44rem;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 16.67rem;
  right: 4.22rem;
  background-color: white;
  border-right: 1px solid rgba($color: black, $alpha: 0.2);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.13rem;
  text-transform: capitalize;
  z-index: -1;

  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 0.4s ease;

    &:hover {
      color: orange;
      transition: color 0.4s ease;
    }
  }

  li {
    list-style-type: none;
  }

  .col {
    width: 100%;
  }

  .col2 {
    display: grid;
    align-items: flex-start;
    height: 100%;
    padding: 1.5rem;
  }

  .col3 {
    border-top: 1px solid rgba($color: black, $alpha: 0.2);
    padding: -2.2rem;
    height: 100%;
  }

  .socialLinksContainer {
    display: flex;
    align-items: center;
    padding-bottom: 0.73rem;
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
      transition: fill 0.4s ease;

      &:hover {
        fill: orange;
        transition: fill 0.4s ease;
      }
    }
  }

  .socialLink {
    display: grid;
    place-content: center center;
    width: 1.59rem;
    height: 1.067rem;
    margin-right: 0.34rem;
  }
}
