* {
  scroll-behavior: smooth;
}

body.main-bg-01 {
  background: url(/src/assets/desktop/main-bg-01.jpg) no-repeat center fixed;
  background-size: cover;
  @media (min-width: $l) {
    background-position: bottom right;
  }
}

body.main-bg-02 {
  background: url(/src/assets/desktop/main-bg-02.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-03 {
  background: url(/src/assets/desktop/main-bg-03.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-04 {
  background: url(/src/assets/desktop/main-bg-04.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-05 {
  background: url(/src/assets/desktop/main-bg-05.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-06 {
  background: url(/src/assets/desktop/main-bg-06.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-07 {
  background: url(/src/assets/desktop/main-bg-07.jpg) no-repeat center fixed;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
}
