@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(./fonts/Hurme/HurmeGeometricSans3.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(/public/assets/fonts/Hurme/HurmeGeometricSans3SemiBold.otf)
    format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(/public/assets/fonts/Hurme/HurmeGeometricSans3Black.otf)
    format("opentype");
  font-weight: 800;
}

html {
  font-size: 16px;
  @media (min-width: $m) {
    font-size: 17px;
  }
  @media (min-width: $l) {
    font-size: 18px;
  }
  @media (min-width: $xl) {
    font-size: 20px;
  }
  @media (min-width: $xxl) {
    font-size: 24px;
  }
}

body {
  font-family: "Hurme Geometric Sans", sans-serif;
}
