$text-light: #fff;
$text-dark: #000;

$nav-light: #121212;

$burger-light: #fff;

$logo-light: #fff;

$button-light: #000;

// screens
$xs: 280px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1540px;
$xxl: 1920px;
