.projects {
  padding: 2.5rem 1.5rem;
  display: grid;
  grid-row-gap: 6rem;
  overflow: hidden;
  color: $white;
  fill: $white;
  @media (min-width: $l) {
    grid-row-gap: 0;
  }

  .row1 {
    @media (min-width: $l) {
      // min-height: 5.84rem;
      display: flex;
      align-items: center;
    }
  }

  .row1 .col1 {
    display: flex;
    justify-content: center;
    @media (min-width: $l) {
      justify-content: flex-start;
    }
  }

  .row2 .col1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }

  .rocket-heading {
    span {
      background-color: $white;
    }
  }

  .rocket-heading-mobile {
    span {
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .rocket-heading-desktop {
    span {
      width: 15rem;
    }
  }
}

@media (min-width: $l) {
  .projects {
    padding: 0 5rem;
    grid-template-rows: 9.22rem 1fr 1rem;
  }
}
