@import "/styles/variables";
@import "/styles/mixins";

.projects {
  padding: 2.5rem 1.5rem;
  display: grid;
  grid-row-gap: 6rem;
  background: #1d2225;
  overflow: hidden;
  color: $white;
  fill: $white;
  @include largeScreen() {
    grid-row-gap: 2rem;
  }

  .row1 {
    @include largeScreen() {
      // min-height: 5.84rem;
      display: flex;
      align-items: center;
    }
  }

  .row1 .col1 {
    display: flex;
    justify-content: center;
    @include largeScreen() {
      justify-content: flex-start;
    }
  }

  .row2 .col1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    @include largeScreen() {
      margin-top: -2rem;
    }
  }

  .row3 {
    margin-top: -4rem;
    @include largeScreen() {
      margin-top: 0;
    }
  }

  .row3 .col1 {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      cursor: pointer;
      background-color: transparent;
      color: inherit;
      border: none;
      font-size: 0.8rem;
      letter-spacing: 0.2rem;
      text-indent: 0.2rem;
      text-transform: uppercase;
      height: 3.44rem;
      width: 12.125rem;
      transition: all 600ms ease;

      &:hover,
      &:focus {
        background: rgba($color: $black, $alpha: 0.5);
        transition: all 600ms ease;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@include largeScreen() {
  .projects {
    padding: 0 5rem;
    grid-template-rows: 9.22rem 1fr 6rem;
  }
}
