.services {
  padding: 2.5rem 1.5rem;
  display: grid;
  grid-gap: 5rem;
  background-color: $white;
  color: $black;
  overflow: hidden;

  h3 {
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1.4rem;
    letter-spacing: 0.2rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
    line-height: 1.5;
  }

  a {
    display: inline-block;
    font-size: 0.9rem;
    background-color: $black;
    text-decoration: none;
    color: $white;
    width: 6.1rem;
    height: 2rem;
    transition: all 600ms ease;

    &:hover {
      background-color: $white;
      border: 2px solid $black;
      color: $black;
      transition: all 600ms ease;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  .row1 .col1 {
    display: flex;
    justify-content: center;
    @media (min-width: $l) {
      justify-content: flex-start;
    }
  }

  .row2 {
    display: grid;
    grid-row-gap: 2.3rem;
    grid-column-gap: 2rem;
    align-items: center;

    @media (min-width: $l) {
      grid-template-columns: repeat(2, 1fr);
    }

    .col1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 100%;
      @media (min-width: $s) {
        width: 80%;
      }
      @media (min-width: $l) {
        width: 100%;
      }
      // width: 100%;
      // max-width: 34.25rem; // 548px
      // height: 90%;
      // max-height: 22.82rem; // 365px
    }
  }

  .row2 .col2 {
    max-width: 29rem;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .rocket-heading {
    span {
      background-color: $black;
    }
  }

  .rocket-heading-mobile {
    span {
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .rocket-heading-desktop {
    span {
      width: 15rem;
    }
  }
}

@media (min-width: $l) {
  .services {
    padding: 2.5rem 5rem 5rem 5rem;

    .row2 .col1 {
      order: 1;
    }
  }
}
