@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(/src/assets/fonts/Hurme/HurmeGeometricSans3.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(/src/assets/fonts/Hurme/HurmeGeometricSans3SemiBold.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(/src/assets/fonts/Hurme/HurmeGeometricSans3Black.otf) format("opentype");
  font-weight: 800;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: "Hurme Geometric Sans", sans-serif;
}

* {
  scroll-behavior: smooth;
}

body.main-bg-01 {
  background: url(/src/assets/desktop/main-bg-01.jpg) no-repeat center fixed;
  background-size: cover;
}

@media (min-width: 992px) {
  body.main-bg-01 {
    background-position: bottom right;
  }
}

body.main-bg-02 {
  background: url(/src/assets/desktop/main-bg-02.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-03 {
  background: url(/src/assets/desktop/main-bg-03.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-04 {
  background: url(/src/assets/desktop/main-bg-04.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-05 {
  background: url(/src/assets/desktop/main-bg-05.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-06 {
  background: url(/src/assets/desktop/main-bg-06.jpg) no-repeat center fixed;
  background-size: cover;
}

body.main-bg-07 {
  background: url(/src/assets/desktop/main-bg-07.jpg) no-repeat center fixed;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  padding-top: 3.75rem;
}

@media (min-width: 992px) {
  .home {
    padding-top: 0;
    padding-left: 4.2rem;
  }
}

.rocket-heading {
  color: inherit;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
  position: relative;
}

.rocket-heading span {
  position: absolute;
  display: inline-block;
  background-color: black;
}

.rocket-heading span svg {
  position: absolute;
  width: 2.1875rem;
  fill: inherit;
}

.rocket-heading-mobile span {
  top: -2.5rem;
  left: 2.8125rem;
  height: 5.625rem;
  width: 0.1875rem;
}

.rocket-heading-mobile span svg {
  left: -1rem;
  bottom: -2.3125rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.rocket-heading-desktop {
  display: none;
}

@media (min-width: 992px) {
  .rocket-heading-desktop {
    display: inline-block;
  }
}

.rocket-heading-desktop span {
  bottom: -0.56rem;
  left: -5rem;
  width: 13rem;
  height: 0.1875rem;
}

.rocket-heading-desktop span svg {
  top: 0;
  bottom: 0;
  right: -2.34rem;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 992px) {
  .rocket-heading-mobile {
    display: none;
  }
}

header {
  position: fixed;
  z-index: 99;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  width: 100vw;
  height: 3.75rem;
  background-color: #121212;
}

@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile-nav .menu {
  bottom: calc(-100vh + 3.75rem);
  left: -16.67rem;
  right: 0;
}

.mobile-nav .menu .col3 {
  border-top: none;
}

.desktop-nav {
  display: none;
  -ms-grid-rows: 4.44rem 1fr 4.44rem;
      grid-template-rows: 4.44rem 1fr 4.44rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  width: 4.2rem;
  background-color: #121212;
  height: 100vh;
}

@media (min-width: 992px) {
  .desktop-nav {
    display: -ms-grid;
    display: grid;
  }
}

.desktop-nav #name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-bottom: 6.67rem;
}

.desktop-nav #name span {
  font-weight: 600;
}

.desktop-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-nav .row2 {
  color: #fff;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.desktop-nav .row3 {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  display: inline-block;
  fill: #fff;
  width: 2.5rem;
  cursor: pointer;
}

.burger-menu {
  display: inline-block;
  position: relative;
  height: 1.2rem;
  width: 1.88rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-menu:focus {
  outline: none;
}

.burger-menu:hover .burger-line {
  background-color: #f7a344 !important;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.burger-menu .burger-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  height: 0.2em;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.burger-menu .burger-line-center {
  opacity: 1;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.burger-menu .burger-line-bottom {
  top: unset;
  bottom: 0;
}

.menu {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4.44rem 1fr 4.44rem;
      grid-template-rows: 4.44rem 1fr 4.44rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 100vh;
  width: 16.67rem;
  right: 4.22rem;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.13rem;
  text-transform: capitalize;
  z-index: -1;
}

.menu a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu a:hover {
  color: #f7a344;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu li {
  list-style-type: none;
}

.menu .col {
  width: 100%;
}

.menu .col2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 1.5rem;
}

.menu .col3 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: -2.2rem;
  height: 100%;
}

.menu .social-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.73rem;
  width: 100%;
  height: 100%;
}

.menu .social-links-container svg {
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.menu .social-links-container svg:hover {
  fill: #f7a344;
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.menu .social-link {
  display: -ms-grid;
  display: grid;
  place-content: center center;
  width: 1.59rem;
  height: 1.067rem;
  margin-right: 0.34rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 1.5rem;
  height: calc(100vh - 3.75rem);
  max-height: 42.25rem;
}

@media (min-width: 992px) {
  .hero {
    height: 100vh;
    max-height: 100vh;
    padding: 7rem 5rem 7rem 7rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero .row {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 992px) {
  .hero .row {
    margin: 0;
    max-width: 100%;
  }
}

.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
  text-transform: capitalize;
  line-height: 1.05;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 5.34rem;
  }
}

.about {
  padding: 2.5rem 1.5rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 4rem;
  overflow: hidden;
  background-color: #fff;
}

@media (min-width: 992px) {
  .about {
    height: 35.94rem;
    max-height: 35.94rem;
    grid-row-gap: 0;
  }
}

.about p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  max-width: 35.88rem;
  line-height: 1.5;
  font-weight: 200;
}

@media (min-width: 992px) {
  .about .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .row1 .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .about .row1 .col1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.about .row2 .col1 {
  max-width: 29rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.about .col2 {
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .about .col2 {
    margin-top: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about .col2row {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

.about .col2col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 22.07rem;
  margin: 0 auto;
}

.about .col2col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-card {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
  min-width: 3rem;
  text-align: center;
  margin: 0 0.5rem 1rem 0;
  font-size: 1rem;
}

.resume-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-decoration: none;
  width: 15rem;
  height: 3.2rem;
  font-size: 1.1rem;
  padding: 0.7rem;
  text-align: center;
  border-radius: 0.39rem;
  background: #000;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-button:hover span {
  text-indent: -1.9rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.resume-button:hover span::after {
  opacity: 1;
  text-indent: 0px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.resume-button span {
  position: relative;
  display: block;
  width: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.resume-button span::after {
  position: absolute;
  content: "";
  width: 1.3rem;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.9rem;
  opacity: 0;
  background: url(/src/assets/utils/download.svg) no-repeat center;
  background-size: cover;
  z-index: 3;
}

@media (min-width: 992px) {
  .about {
    padding: 0 5rem;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .about .row2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.7rem;
  }
}

.services {
  padding: 2.5rem 1.5rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem;
  background-color: #fff;
  color: #000;
  overflow: hidden;
}

.services h3 {
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.4rem;
  letter-spacing: 0.2rem;
}

.services p {
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.services a {
  display: inline-block;
  font-size: 0.9rem;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  width: 6.1rem;
  height: 2rem;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.services a:hover {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.services a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.services .row1 .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .services .row1 .col1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.services .row2 {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2.3rem;
  grid-column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .services .row2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.services .row2 .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .row2 img {
  width: 100%;
}

@media (min-width: 576px) {
  .services .row2 img {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .services .row2 img {
    width: 100%;
  }
}

.services .row2 .col2 {
  max-width: 29rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.services .rocket-heading span {
  background-color: #000;
}

.services .rocket-heading-mobile span {
  left: 0;
  right: 0;
  margin: auto;
}

.services .rocket-heading-desktop span {
  width: 15rem;
}

@media (min-width: 992px) {
  .services {
    padding: 2.5rem 5rem 5rem 5rem;
  }
  .services .row2 .col1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.projects {
  padding: 2.5rem 1.5rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 6rem;
  background: #1d2225;
  overflow: hidden;
  color: #fff;
  fill: #fff;
}

@media (min-width: 992px) {
  .projects {
    grid-row-gap: 2rem;
  }
}

@media (min-width: 992px) {
  .projects .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.projects .row1 .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .projects .row1 .col1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.projects .row2 .col1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
}

@media (min-width: 992px) {
  .projects .row2 .col1 {
    margin-top: -2rem;
  }
}

.projects .row3 {
  margin-top: -4rem;
}

@media (min-width: 992px) {
  .projects .row3 {
    margin-top: 0;
  }
}

.projects .row3 .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .row3 .col1 button {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
  text-transform: uppercase;
  height: 3.44rem;
  width: 12.125rem;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.projects .row3 .col1 button:hover, .projects .row3 .col1 button:focus {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.projects .row3 .col1 button:focus {
  outline: none;
}

.projects .rocket-heading span {
  background-color: #fff;
}

.projects .rocket-heading-mobile span {
  left: 0;
  right: 0;
  margin: auto;
}

.projects .rocket-heading-desktop span {
  width: 15rem;
}

@media (min-width: 992px) {
  .projects {
    padding: 0 5rem;
    -ms-grid-rows: 9.22rem 1fr 6rem;
        grid-template-rows: 9.22rem 1fr 6rem;
  }
}

.project-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.project-card {
  width: 21.875rem;
  height: 15.625rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.625rem;
  overflow: hidden;
  color: #fff;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.project-card:hover {
  background-size: 120% 120%;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.project-card:hover .overlay {
  opacity: 1;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.project-card:hover .overlay .svg-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.project-card .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.project-card .svg-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.project-card .svg-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.project-card .svg-wrapper p {
  position: absolute;
  bottom: -2.4rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  white-space: nowrap;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
}

.project-card svg {
  width: 1.25rem;
}

.new {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-animation: load 1s 0.2s forwards;
          animation: load 1s 0.2s forwards;
}

@-webkit-keyframes load {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes load {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.page-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
}

.page-loader .loader div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.page-loader div:nth-child(1) {
  border-color: #f7a344;
}

.page-loader div:nth-child(2) {
  border-color: #05c2c9;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 4.12rem;
    height: 4.12rem;
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 4.12rem;
    height: 4.12rem;
    opacity: 0;
  }
}
/*# sourceMappingURL=App.css.map */