@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(/src/assets/fonts/Hurme/HurmeGeometricSans3.otf);
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: "Hurme Geometric Sans", sans-serif;
}

body {
  background: url(/src/assets/desktop/main-bg-01.jpg) no-repeat center fixed;
  background-size: cover;
}

@media (min-width: 992px) {
  body {
    background-position: bottom right;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  padding-top: 3.75rem;
}

@media (min-width: 992px) {
  .home {
    padding-top: 0;
    padding-left: 4.2rem;
  }
}

header {
  position: fixed;
  z-index: 99;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  width: 100vw;
  height: 3.75rem;
  background-color: #121212;
}

@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.desktop-nav {
  display: none;
  -ms-grid-rows: 4.44rem 1fr 4.44rem;
      grid-template-rows: 4.44rem 1fr 4.44rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  width: 4.2rem;
  background-color: #121212;
  height: 100vh;
}

@media (min-width: 992px) {
  .desktop-nav {
    display: -ms-grid;
    display: grid;
  }
}

.desktop-nav #name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-bottom: 6.67rem;
}

.desktop-nav #name span {
  font-weight: 600;
}

.desktop-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-nav .row2 {
  color: #fff;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.desktop-nav .row3 {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  display: inline-block;
  fill: #fff;
  width: 2.5rem;
  cursor: pointer;
}

.burger-menu {
  display: inline-block;
  position: relative;
  height: 1.2rem;
  width: 1.88rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-menu:focus {
  outline: none;
}

.burger-menu .burger-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  height: 0.2em;
}

.burger-menu .burger-line-center {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.burger-menu .burger-line-bottom {
  top: unset;
  bottom: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 1.5rem;
  height: calc(100vh - 3.75rem);
  max-height: 42.25rem;
}

@media (min-width: 992px) {
  .hero {
    height: 100vh;
    max-height: 100vh;
    padding: 7rem 5rem 7rem 7rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero .row {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 992px) {
  .hero .row {
    margin: 0;
    max-width: 100%;
  }
}

.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
  text-transform: capitalize;
  line-height: 1.05;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 5.34rem;
  }
}

.about {
  padding: 2.5rem 1.5rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 4rem;
  background-color: #fff;
  font-size: 1.34rem;
  overflow: hidden;
}

@media (min-width: 992px) {
  .about {
    height: 35.94rem;
    max-height: 35.94rem;
    grid-row-gap: 0;
    padding-top: 3rem;
  }
}

.about p {
  margin-bottom: 1rem;
  max-width: 35.88rem;
}

@media (min-width: 992px) {
  .about .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .row1 .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .about .row1 .col1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.about .row2 .col1 {
  max-width: 29rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.about .col2 {
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .about .col2 {
    margin-top: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about .col2row {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

.about .col2col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 22.07rem;
  margin: 0 auto;
}

.about .col2col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rocket-heading {
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
}

.rocket-heading span {
  position: absolute;
  display: inline-block;
  background-color: black;
}

.rocket-heading span svg {
  position: absolute;
  width: 2.1875rem;
}

.rocket-heading-mobile span {
  top: -2.5rem;
  left: 2.8125rem;
  height: 5.625rem;
  width: 0.1875rem;
}

.rocket-heading-mobile span svg {
  left: -1rem;
  bottom: -2.3125rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.rocket-heading-desktop {
  display: none;
}

@media (min-width: 992px) {
  .rocket-heading-desktop {
    display: inline-block;
  }
}

.rocket-heading-desktop span {
  bottom: -0.56rem;
  left: -5rem;
  width: 13rem;
  height: 0.1875rem;
}

.rocket-heading-desktop span svg {
  top: 0;
  bottom: 0;
  right: -2.34rem;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 992px) {
  .rocket-heading-mobile {
    display: none;
  }
}

.skill-card {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
  min-width: 3rem;
  text-align: center;
  margin: 0 0.5rem 1rem 0;
  font-size: 1rem;
}

.resume-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-decoration: none;
  width: 15rem;
  height: 3.2rem;
  font-size: 1.1rem;
  padding: 0.7rem;
  text-align: center;
  border-radius: 0.39rem;
  background: #000;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-button:hover span {
  text-indent: -1.9rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.resume-button:hover span::after {
  opacity: 1;
  text-indent: 0px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.resume-button span {
  position: relative;
  display: block;
  width: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.resume-button span::after {
  position: absolute;
  content: "";
  width: 1.3rem;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.9rem;
  opacity: 0;
  background: url(/src/assets/utils/download.svg) no-repeat center;
  background-size: cover;
  z-index: 3;
}

@media (min-width: 992px) {
  .about {
    padding: 0 5rem;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .about .row2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.7rem;
  }
}
/*# sourceMappingURL=App.css.map */